<launch>
  
  <node name="turtlesim" pkg="turtlesim" type="turtlesim_node" output="screen"/>


  <node pkg="rosservice" type="rosservice" name="kill_turtle" args="call /kill 'name: 'turtle1'' " />
  <node pkg="rosservice" type="rosservice" name="spawn_turtle" args="call /spawn '{x: 1.0, y: 1.0, name: turtle}'" />
  <node pkg="layered_exercise" type="layered_exercise_node" name="my_node" output="screen" />


</launch>